.section {
    font-size: 1.6rem;
    &__heading {
        text-align: center;
        font-size: 3rem;
        font-style: italic;
        font-weight: 700;
    }
    & ul {
        list-style: url("img/arr-pt.png");
        margin-left: 20px;
    }
    &:after {
        display: table;
        content: "";
        clear: both;
    }
    &--white {
        color: $text;
    }
}